

$bgcolor: lightblue;
$textcolor: grey;
$fontsize: 18px;

// body {
//   background-color: $bgcolor;
//   color: $textcolor;
//   font-size: $fontsize;
// }
//font color, background color, padding