/* Add application styles & imports to this file! */
 @import './styles/variables';
// p {
//   background-color: grey;
// }

// $bgcolor: lightblue;
// $textcolor: darkblue;
// $fontsize: 18px;

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}